# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment directory
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Python distribution files
*.egg
*.egg-info/
dist/
build/

# Database files
*.db
*.sqlite3

# Logs
*.log

# Other environment-related files
.env

# Other files
*.DS_Store
